* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100vh;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 90%;
  background-color: hsl(27, 66%, 92%)
}

main {
  width: 40%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  flex-direction: column;

}


.top-section {
  margin: 0;
  width: 100%;
  background-color: hsl(10, 79%, 65%);
  height: 20%;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 2rem;

}

.my-balance {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: whitesmoke;
}

.my-balance>h5 {
  margin-bottom: 0.3rem;
}

.my-balance>h1 {
  margin-top: 0;
}

.top-image {
  height: 90%;
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.white-circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid white;
  opacity: 0.9;
}

.black-circle {
  margin-left: -20px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: black;
}

.chart-section {
  width: 100%;
  height: 77%;
  background-color: hsl(33, 100%, 98%);
  border-radius: 5px;
  padding: 5px 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.chart-heading {
  color: hsl(25, 47%, 15%)
}

.graph {
  width: 100%;
  height: 50%;
  /* border: 1px solid black; */
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-self: center;
}


/* 
.graph-amount {
  display: none;
  font-size: 0.65rem;
  padding: 3px;
  width: fit-content;
  height: 20%;
  background-color: hsl(25, 47%, 15%);
  color: hsl(33, 100%, 98%);
  border-radius: 2px;
  font-weight: 700;
  margin-bottom: 10px;
} */


.chartbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10;
  margin: 0;
  width: 100%;
  height: 100%;
}

/* .graph-bar {
  width: 10%;
  margin-right: 2px;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.chart-bar {
  display: grid;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: fit-content;
  background-color: hsl(25, 47%, 15%);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  font-size: 0.75em;
  font-family: 700;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 100%;
  margin-left: -40px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 50%;
  margin-left: -5px;
  width: fit-content;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


.day {
  color: gray
}
 */


.borderdiv {
  width: 100%;
  border-bottom: 1px solid hsl(28, 10%, 53%)
}

.bottom-layer {
  margin-top: 15px;
  width: 100%;
  height: 20%;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
}

.subdiv {
  text-align: left;
}

.bottom-p {
  margin: 0;
  color: gray;
  font-size: 0.75em;
}

.bottom-number {
  color: hsl(25, 47%, 15%);
  margin: 0;
}

.big-font {
  font-size: 2rem;
}

@media (max-width:700px) {

  main,
  .App {
    width: 100%
  }

  .App {
    height: 100%;
    padding: 1rem;
  }

}